form{width:50%;margin:100px auto;background-color:slategray;padding:30px;text-align:center; }
ul{
    width:50%;
    margin:0 auto;
    list-style:none;
}
.checkedOff{text-decoration:line-through;}
.ignore{}
